MONGODB_URI="mongodb+srv://..."
MONGODB_DB="turf_booking"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="change-me"

# optional for Credentials auth
AUTH_SALT_ROUNDS="10"

CLOUDINARY_CLOUD_NAME="dqiapgale"
CLOUDINARY_API_KEY="922877548667416"
CLOUDINARY_API_SECRET="OBSTqjukgNTjPGrUl1IW32lLuFg"
CLOUDINARY_FOLDER="productico"
CLOUDINARY_PUBLIC_URL=https://res.cloudinary.com/dqiapgale/image/upload


